.GoalText {
  background: $goal-incomplete-background-colour;
  border-radius: 10px;
  @include centerChild();
  padding: 10px;
  width: 60%;
}

&.completed {
  .GoalText {
    background: $goal-complete-background-colour;
    text-decoration: line-through;
  }
}
